.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  row-gap: 1.2rem;
}
.status {
  width: 20.5rem;
}
.heading {
  margin-bottom: 0.3rem;
}
.status-menu {
  width: 20.5rem;
}
